<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ hugo.Generator }}
  <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}
    {{ $title = .Site.Title }}
  {{ end }}
  <link rel="shortcut icon" href="{{ $.Site.BaseURL }}/logo.png">
  <title>{{ $title }}</title>
  {{ partial "style.html" . }}
</head>